{% extends '_base.html' %}
{% load static %}

{% block content %}
  <h1 class="title">
    Recipe search
  </h1>
  <p class="subtitle">
    Enter your ingredients into the search bar, adjust the search settings to your liking and find today's dinner.
  </p>
  <div class="columns">
    <div class="column is-5">
      {% include 'recipes/search.html' %}
    </div>
    {% if recipes %}
      <div class="column is-5">
        <h3 class="title is-2">Recipes found:</h3>
        {% for recipe in recipes %}
          <div class="row content">
            {% include 'recipes/recipe_listing.html' %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/recipes/showSelectedIngredients.js' %}"></script>
  <script src="{% static 'js/recipes/toggleUbiquitousCheckbox.js' %}"></script>
{% endblock %}