{% extends '_base.html' %}
{% load static %}

{% block content %}
  <div class="columns">
    <div class="column is-5">
      <h2 class="title is-2">
        Recipe search
      </h2>
      <p class="subtitle">
        Enter your ingredients into the search bar, adjust the search settings to your liking and find today's dinner.
      </p>
      {% include 'recipes/search.html' %}
    </div>
    <div class="column is-5">
      {% if recipes %}
        <h2 class="title is-2">Recipes found:</h2>
        {% for recipe in recipes %}
          <div class="row content">
            {% include 'recipes/recipe_listing.html' %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/recipes/showSelectedIngredients.js' %}"></script>
  <script src="{% static 'js/recipes/toggleUbiquitousCheckbox.js' %}"></script>
{% endblock %}