{% extends '_base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/recipes/recipe_detail.css' %}">
{% endblock %}

{% block content %}
  <div class="content">
    <h2 class="title is-2">{{ recipe.name }}</h2>
    <div class="columns">
      <div class="column is-3">
        <div class="box">
          <h4 class="subtitle is-4">
            Ingredients:
          </h4>
          {% include 'recipes/servings_display.html' %}
        </div>
      </div>
      <div class="column is-6">
        {{ recipe.content|safe }}
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{% static 'js/recipes/adjustServings.js' %}"></script>
{% endblock %}