<form class="form">
  <div class="search">
    <input type="text" id="search" name="search">
  </div>

  <div class="same-row">
    <div class="radio-group">
      <label for="radio-exclusive">exclusive</label>
      <input type="radio" id="radio-exclusive" name="exclusive" value="True">

      <label for="radio-inclusive">inclusive</label>
      <input type="radio" id="radio-inclusive" name="exclusive" value="False">
    </div>

    <select name="sort_by" id="sort_by">
      <option value="alphabetical">alphabetical</option>
      <option value="popular">popular</option>
      <option value="recent">recent</option>
    </select>
  </div>

  <button type="submit">search</button>
</form>