{% load mathfilters %}

{% if recipe.serves %}
  <p>
    <span class="has-text-weight-bold">Serves:</span>
    <span id="minus-span is-small" class="servings-modifier tag is-small" onclick="decrServings()">
      <i class="fas fa-minus"></i>
    </span>
    <span id="servings" class="has-text-weight-bold">
      {{ recipe.serves }}
    </span>
    <span id="plus-span is-small" class="servings-modifier tag is-small" onclick="incrServings()">
      <i class="fas fa-plus"></i>
    </span>
  </p>
  <ul>
    {% with recipe as recipe_item %}
      {% include 'recipes/recipe_ingredient_li.html' %}
    {% endwith %}
    {% for sub_recipe in recipe.sub_recipes.all %}
      <br>
      <h4 class="is-title is-4">{{ sub_recipe.name }}</h4>
      {% with sub_recipe as recipe_item %}
        {% include 'recipes/recipe_ingredient_li.html' %}
      {% endwith %}
    {% endfor %}
  </ul>
{% else %}
  <ul>
    {% for ingredient in recipe.recipe_ingredient.all %}
      <li>{{ ingredient.name }}</li>
    {% endfor %}
  </ul>
{% endif %}