{% if recipe.serves %}
  <p>
    <span class="has-text-weight-bold">Serves:</span>
    <span id="minus-span is-small" class="servings-modifier tag is-small" onclick="decrServings()">
      <i class="fas fa-minus"></i>
    </span>
    <span id="servings" class="has-text-weight-bold">
      {{ recipe.serves }}
    </span>
    <span id="plus-span is-small" class="servings-modifier tag is-small" onclick="incrServings()">
      <i class="fas fa-plus"></i>
    </span>
  </p>
{% endif %}
<ul>
  {% for recipe_ingredient in recipe.recipe_ingredients.all %}
    <li>
      <span class="serving-span">
        {{ recipe_ingredient.amount_per_serving }}
      </span>
      {{ recipe_ingredient.measurement }} {{ recipe_ingredient.name }}
    </li>
  {% endfor %}
</ul>
